<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lobedix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pouce_froid_healthy"></activity>
        <activity android:name=".Pouce_Chaud_exotique" />
        <activity android:name=".Pouce_soupe" />
        <activity android:name=".Pouce_Chaud_Healthy" />
        <activity android:name=".Pouce_vegetarien" />
        <activity android:name=".Pouce_froid_exotique" />
        <activity android:name=".Pouce_chaud_froid" />
        <activity android:name=".Pouce_chocolat" />
        <activity android:name=".Pouce_Glace" />
        <activity android:name=".Pouce_Sucre_healthy" />
        <activity android:name=".Pouce_sucre_sale" />
        <activity android:name=".MyCommandeEnfant" />
        <activity android:name=".MenuEnfant" />
        <activity android:name=".Ingredients_tomates" />
        <activity android:name=".Ingredients_feuillete" />
        <activity android:name=".Ingredients_soupe" />
        <activity android:name=".Ingredients_taboule" />
        <activity android:name=".Ingredients_lasagnes" />
        <activity android:name=".Ingredients_spaghetti" />
        <activity android:name=".Ingredients_ratatouille" />
        <activity android:name=".Ingredients_curry" />
        <activity android:name=".Ingredients_creme" />
        <activity android:name=".Ingredients_mousse" />
        <activity android:name=".Ingredients_salade" />
        <activity android:name=".Ingredients_glace" />
        <activity android:name=".MyCommand" />
        <activity android:name=".listePlats" />
        <activity android:name=".listeDesserts" />
        <activity android:name=".Espace_Enfant" />
        <activity android:name=".ChoixApero" />
        <activity android:name=".Apero" />
        <activity android:name=".Dish_informations_lasagnes" />
        <activity android:name=".Dish_informations_spaghetti" />
        <activity android:name=".Dish_informations_ratatouille" />
        <activity android:name=".Dish_informations_curry" />
        <activity android:name=".Dish_informations_creme" />
        <activity android:name=".Dish_informations_mousse" />
        <activity android:name=".Dish_informations_salade" />
        <activity android:name=".Dish_informations_glace" />
        <activity android:name=".Carte" />
        <activity android:name=".Dish_informations_soupe" />
        <activity android:name=".Dish_informations_tomates" />
        <activity android:name=".Dish_informations_taboule" />
        <activity android:name=".Dish_informations_feuillete" />
        <activity android:name=".listeEntrees" />
        <activity android:name=".Dish_Informations_Nutri" />
        <activity android:name=".commandType" />
        <activity android:name=".Enfant_Adulte" />
        <activity android:name=".Menus" />
        <activity android:name=".Menu_simple" />
        <activity android:name=".Menu_vege" />
        <activity android:name=".Menu_jour" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>